<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="settings.xsd">
    <category label="40200">
        <setting type="folder" id="save-path" label="40201" option="writeable"/>
        <setting type="labelenum" id="history-items-count" label="40215" values="20|50|100|200" default="50" />
        <setting type="labelenum" id="search-items-count" label="40216" values="10|20|50|100" default="20" />
    </category>
    <category label="40214">
        <setting type="labelenum" id="results-per-page" label="40202" values="15|30|60|120" default="15"/>
        <setting type="labelenum" id="batch-results" label="40203" values="2|5|10" default="5"/>
        <setting type="lsep" label="40204"/>
        <setting type="bool" id="show-original-title" label="40208" default="false"/>
        <setting type="bool" id="show-video-quality" label="40205" default="true"/>
        <setting type="bool" id="show-audio-quality" label="40206" default="true"/>
        <setting type="bool" id="show-total-size" label="40207" default="true"/>
        <setting type="bool" id="show-duration" label="40213" default="true"/>
        <setting type="bool" id="show-language" label="40209" default="false"/>
        <setting type="bool" id="show-genre" label="40210" default="true"/>
        <setting type="bool" id="show-country" label="40211" default="true"/>
        <setting type="bool" id="show-rating" label="40212" default="true"/>
    </category>
    <category label="40100">
        <setting type="enum" id="torrent-stream" label="40101" lvalues="40102|40103" default="0"/>
        <setting type="bool" id="save-files" label="40110" default="false"/>
        <setting type="number" id="t2h-listen-port" label="40104" visible="eq(-2,0)" default="6881" enable="eq(1,false)"/>
        <setting type="bool" id="t2h-use-random-port" label="40105" visible="eq(-3,0)"/>
        <setting type="slider" id="t2h-pre-buffer-mb" label="40111" visible="eq(-4,0)" default="15" range="5,5,50" option="int"/>
        <setting type="number" id="t2h-max-connections" label="40106" visible="false"/>
        <setting type="number" id="t2h-download-rate" label="40107" visible="false"/>
        <setting type="number" id="t2h-upload-rate" label="40108" visible="false"/>
        <setting type="bool" id="t2h-debug-mode" label="40109" visible="eq(-8,0)"/>
        <setting type="ipaddress" id="as-host" label="40007" visible="eq(-9,1)" default="127.0.0.1"/>
        <setting type="number" id="as-port" label="40008" visible="eq(-10,1)" default="62062"/>
    </category>
    <category label="40000">
        <setting type="enum" id="torrent-client" label="40001" lvalues="40002|40003|40004" default="0"/>
        <setting type="ipaddress" id="utorrent-host" label="40007" visible="eq(-1,1)" default="127.0.0.1"/>
        <setting type="number" id="utorrent-port" label="40008" visible="eq(-2,1)" default="8080"/>
        <setting type="text" id="utorrent-login" label="40005" visible="eq(-3,1)"/>
        <setting type="text" id="utorrent-password" option="hidden" label="40006" visible="eq(-4,1)"/>
        <setting type="ipaddress" id="transmission-host" label="40007" visible="eq(-5,2)" default="127.0.0.1"/>
        <setting type="number" id="transmission-port" label="40008" visible="eq(-6,2)" default="9091"/>
        <setting type="text" id="transmission-path" label="40009" visible="eq(-7,2)" default="/transmission"/>
        <setting type="text" id="transmission-login" label="40005" visible="eq(-8,2)"/>
        <setting type="text" id="transmission-password" option="hidden" label="40006" visible="eq(-9,2)"/>
    </category>
</settings>